
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(108, 229, 248);
}

.container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 50vh;
}

.form-control {
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
}
